<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sam.rentalcar">
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 短视频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/launch"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:supportsRtl,android:allowBackup"
        tools:targetApi="n">
        <activity android:name=".videoplayer.BaseVideoViewActivity"/>
        <activity android:name=".videoplayer.TikTokActivity"></activity>
        <activity android:name=".ui.activity.RentalCarActivity" />
        <activity android:name=".video.VideoEditActivity" />
        <activity android:name=".video.PlaybackActivity" />
        <activity android:name=".video.VideoRecordActivity" />
        <activity android:name=".ui.activity.CouponListActivity" />
        <activity android:name=".ui.activity.LowPriceCarActivity" />
        <activity android:name=".ui.activity.CarDetailActivity" />
        <activity android:name=".ui.activity.OrderDetailActivity" />
        <activity android:name=".ui.activity.UpLoadCertificatesActivity" />
        <activity android:name=".ui.activity.IdentityAuthenticationActivity" />
        <activity android:name=".ui.activity.RentalCarOrderActivity" />
        <activity android:name=".ui.activity.OrderPayActivity" />
        <activity android:name=".ui.activity.OrderConfirmationActivity" />
        <activity android:name=".ui.activity.ChoiceCarActivity" />
        <activity android:name=".ui.activity.ModifySignatureActivity" />
        <activity android:name=".ui.activity.ModifyNickNameActivity" />
        <activity android:name=".ui.activity.ChatActivity" /> <!-- 友盟多渠道（在 App Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${channel}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 崩溃界面 -->
        <activity
            android:name=".ui.activity.CrashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="portrait" /> <!-- 引导界面 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 闪屏界面 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- App 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 登录界面 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 注册界面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 设置界面 -->
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/setting_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 忘记密码 -->
        <activity
            android:name=".ui.activity.PasswordForgetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/password_forget_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 重置密码 -->
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 手机号校验 -->
        <activity
            android:name=".ui.activity.PhoneVerifyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/phone_verify_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 手机号更换 -->
        <activity
            android:name=".ui.activity.PhoneResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 关于我们 -->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 个人资料 -->
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 浏览器 -->
        <activity
            android:name=".ui.activity.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/photo_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 拍照选择 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 查看大图 -->
        <activity
            android:name=".ui.activity.ImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 对话框案例 -->
        <activity
            android:name=".ui.activity.PersonalHomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpLoadVedioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PlayListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FocusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DialogActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 状态案例 -->
        <activity
            android:name=".ui.activity.StatusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1113200713098510#hqyctest" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>